.wrapper {
  background-color: whitesmoke;
}

header {
  color: #41615f;
  padding: 50px;
  padding-bottom: 25px;
  border-bottom: 1px solid black;
}

a {
  text-decoration: none;
  font-size: 1.1rem;
}

nav {
  background-color: #74adaa;
  color: #fff;
  font-size: 25px;
  display: flex;
  margin: 20px;
}

nav ul {
  list-style: none;
  margin: 10px;
  padding: 0;
  display: flex;
}

nav li {
  margin: 5px;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

main {
  background-color: #74adaa;
  padding: 50px;
  color: #fff;
  font-size: 20px;
}
.centered-image {
  display: block;
  margin: auto;
}

footer {
  background-color: #41615f;
  padding: 10px;
  text-align: center;
  color: whitesmoke;
  border-bottom: 1px solid black;
}
